/* BODY & HEADER */

.html, body{
  height: 100%;
  margin: 0;
}


body {
    background-color: #fff;
    display: block;
    justify-content: center;
}


.header {
    display: flex;
    width: 100%;

}


.title img {
    width: 380px;
    margin-left: 5px;
    margin-top: 50px;
}


/*  MENU */


.menu ul {
    width: 480px;          
    
    background-image: url('../images/menu-background.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 

    display: flex;
    justify-content: space-between; 
    align-items: center;

    list-style: none;
    font-size: 18px;
    padding: 20px 40px;
    margin: 0;
}


.menu li a {
    font-family: 'Caveat', cursive; 
    text-decoration: none; 
    color: #c0bebe; 
    font-size: 1.5rem;
    transition: color 0.3s ease;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.page-controls,
.close-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.page-controls img,
.close-control img {
    width: 45px;
}


.menu li a:hover {
    color: #8c8b8b; 
}




/* MESSAGE */


.end-page-message {
    font-family: monospace;
    color: #7D7D7D;
    margin-top: 180px;
    font-size: 1.1em;
    text-align: center;
}




/* FOOTER */

.footer {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    margin-top: 80px;
}

.signature img {
    padding-top: 10px;
    width: 130px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email {
    font-family: monospace;
    font-size: 1.2em;
    color: #333;
    margin-right: 25px;
}

.social-icons {
    display: flex;
    padding-top: 10px;
    align-items: center;
    gap: 9px;
}

.social-icons img {
    width: 21px;
    height: 21px;
}

@media (max-width: 600px) {
    .footer {
        padding: 0 10px;
    }

    .email {
        font-size: 12px;
    }
}




/* PROJECT */

.project {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers the images horizontally */
    margin-top: 30px;
}

.project img {
    width: 750px;
}
