/* BODY & HEADER */

.html, body{
  height: 100%;
  margin: 0;
}


body {
    font-family: 'kalam';
    background-color: #fff;
    display: block;
    justify-content: center;
}


.header {
    display: flex;
    width: 100%;

}


.title img {
    width: 380px;
    margin-left: 480px;
    margin-bottom: 15px;
    margin-top: 50px;
}


/*  MENU */

.menu {
    margin-left: 395px;
}

.menu ul {
    width: 480px;          
    
    background-image: url('./images/menu-background.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 

    display: flex;
    justify-content: space-between; 
    align-items: center;

    list-style: none;
    font-size: 18px;
    padding: 20px 40px;
    margin: 0;
}


.menu li a {
    font-family: 'Caveat', cursive; 
    text-decoration: none; 
    color: #c0bebe; 
    font-size: 1.5rem;
    transition: color 0.3s ease;
    
}


.menu li a:hover {
    color: #a3a2a2; 
}

/* style.css */

nav.menu ul li a.active {
  color: #333;
}


/* PROJECTS */

.projects {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  column-gap: 70px;                         
  row-gap: 20px;                           
  justify-content: center;                
  padding: 50px;
}

.project-item {
  width: 250px;
}

.tv-container {
  position: relative;
  width: 100%;
}

.tv-base {
  width: 100%;
  display: block;
}

.tv-screen {
  position: absolute;
  top: 21%;
  left: 5%;
  width: 90%;
  height: 48%;
  object-fit: cover;
  border-radius: 4px;
}



/* MESSAGE */


.end-page-message {
    font-family: monospace;
    color: #7D7D7D;
    margin-top: 180px;
    font-size: 1.1em;
    text-align: center;
}




/* FOOTER */

.footer {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    margin-top: 80px;
}

.signature img {
    padding-top: 10px;
    width: 130px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.email {
    font-family: monospace;
    font-size: 1.2em;
    color: #333;
    margin-right: 25px;
}

.social-icons {
    display: flex;
    padding-top: 10px;
    align-items: center;
    gap: 9px;
}

.social-icons img {
    width: 21px;
    height: 21px;
}

@media (max-width: 600px) {
    .footer {
        padding: 0 10px;
    }

    .email {
        font-size: 12px;
    }
}





/* ABOUT */


.about-me {
    display: flex;             
    flex-direction: column;   
    align-items: center;
}

.about-me img {
    width: 750px;
    margin-top: 60px;
    margin-bottom: 100px;
}

