/* BODY & HEADER */

.html, body{
  height: 100%;
  margin: 0;
}


body {
    font-family: 'kalam';
    background-color: #fff;
    display: block;
    justify-content: center;
}


.header {
    display: flex;
    width: 100%;

}


.title img {
    width: 380px;
    margin-left: 480px;
    margin-bottom: 15px;
    margin-top: 50px;
}


/*  MENU */

.menu {
    margin-left: 395px;
}

.menu ul {
    width: 480px;          
    
    background-image: url('./images/menu-background.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 

    display: flex;
    justify-content: space-between; 
    align-items: center;

    list-style: none;
    font-size: 18px;
    padding: 20px 40px;
    margin: 0;
}


.menu li a {
    font-family: 'Caveat', cursive; 
    text-decoration: none; 
    color: #c0bebe; 
    font-size: 1.5rem;
    transition: color 0.3s ease;
    
}


.menu li a:hover {
    color: #a3a2a2; 
}

/* style.css */

nav.menu ul li a.active {
  color: #333;
}


/* PROJECTS */

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;                 
  margin-top: 70px;
  margin-left: 250px;
  max-width: calc((250px * 3) + (50px * 2)); 
}

.project-item {
  flex: 0 0 250px;           
}

.projects img {
  width: 100%; 
  height: auto;
  display: block;
}


/* MESSAGE */


.end-page-message{
    font-family: monospace;
    color: #7D7D7D;
    margin-left: 350px;
    margin-top: 180px;
    font-size: 1.1em;
}



/* FOOTER */

.footer{
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: 80px;

}

.signature img{
    width: 130px;
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 820px;

}

.email {
    font-family: monospace;
    font-size: 1.2em;
    margin-top: 10px;
}

.icon-right img{
    width: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 10px;
}

.icon-left img{
    width: 20px;
    margin-top: 10px;
    margin-right: px;
}


/* ABOUT */

.about-me img {
    width: 750px;
    margin-left: 320px;
    margin-top: 60px;
    margin-bottom: 100px;
}
