.metho {
  margin-left: 330px;
  margin-top: 180px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.metho img {
  width: 160px;
  border-radius: 3%;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


@media (min-width: 769px) {
  .metho img:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 0 15px #ca693050;
  }
}


@media (max-width: 768px) {
  .metho {
    margin: 200px auto; 
    display: flex;
    justify-content: center;
  }

  
}


/* bottom navegation begin*/
.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: clamp(60px, 10vh, 95px); 
  gap: 3rem; 
  background-color: #fff;
  z-index: 1000;
  font-family: "inter"; 
  box-sizing: border-box;
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #888;
  letter-spacing: 1px;
  font-size: clamp(0.8rem, 2vw, 1rem); 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.menu a:hover {
  color: #b6babb;
  transform: scale(1.05);
}

.menu .active {
  color: #000;
}

.menu .active:hover {
  color: #000;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .menu {
    flex-wrap: wrap; 
    gap: 1rem; 
    padding: 0.8rem 0; 
    margin-bottom: clamp(40px, 8vh, 70px); 
  }

  .menu a {
    font-size: clamp(0.7rem, 2.5vw, 0.9rem); 
    padding: 0.2rem 0.5rem; 
  }


  .intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text {
    max-width: 90%;
    padding: 0 15px; 
  }
}


@media (max-width: 480px) {
  .menu {
    gap: 0.7rem; 
    padding: 0.6rem 0;
    margin-bottom: clamp(20px, 5vh, 50px);
  }

  .menu a {
    font-size: clamp(0.6rem, 3vw, 0.8rem); 
  }
}
/* bottom navegation end */